.header {
  display: flex;
  padding: 0.3rem;
  border-bottom: #eef3f8 solid 1px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 999;
  background: white;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_search {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  color: gray;
  height: 22px;
  background-color: #eef3f8;
  margin-left: 10px;
}

.header_search > input {
  border: none;
  outline: none;
  background-color: #eef3f8;
}

.header_right {
  display: flex;
  align-items: center;
  padding: 0.2em;
  gap: 1em;
}
