.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 1rem;
  text-align: center;
  height: fit-content;
}

.sidebar_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar_top > img {
  margin-bottom: -1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
}

.sidebar_top > h4 {
  color: gray;
  font-size: medium;
  padding: 0.6em;
}

.sidebar_stats {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: white;
  border-top: lightblue 1px solid;
}

.sidebar_stat {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sidebar_stat > p {
  color: grey;
  font-size: 13px;
  font-weight: 600;
}

.sidebar_statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar_bottom {
  margin-top: 1em;
  border-radius: 1rem;
  background: white;
  padding: 10px;
}

.sidebar_recentItem {
  display: flex;
  align-items: center;
  color: grey;
}

.sidebar_recentItem:hover {
  background-color: whitesmoke;
  cursor: pointer;
  color: black !important;
}

.sidebar_recentItem > p {
  font-size: smaller;
}

.sidebar_hash {
  font-size: 20px;
  font-weight: bold;
  margin-right: 1em;
}
